<div class="container-fluid-form">
  <h1>Create New Musician</h1>
  <%= simple_form_for(@musician) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :bio %>
    <%= f.input :image_url %>
    <%= f.submit %>
    <%= link_to 'Cancel', musicians_path,  class:"button" %>
  <% end %>
</div>
