<h1>Create New Musician</h1>
<%= simple_form_for(@musician) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :bio %>
  <%= f.input :image_url %>

  <div class="button-container" style="display: flex; justify-content: flex-start; gap: 10px; margin-top: 20px;">
    <%= f.button :submit, class: "button", style: "text-decoration: none; color: white; background-color: #28A745; padding: 8px 16px; border-radius: 4px;" %>
    <%= link_to "Back to Musicians", musicians_path, class: "button", style: "text-decoration: none; color: white; background-color: #28A745; padding: 8px 16px; border-radius: 4px;" %>
  </div>
<% end %>

