<div class="show-background-container">
  <div class="musician-container">

    <div class="musician-details-container">
      <div class="musician-image" style="flex: 1; min-width: 100px; max-width: 400px; overflow: hidden;">
        <%= cl_image_tag @musician.image.key %>
      </div>
      <div class="musician-info glassmorphism">
        <h1 class="animated-header">
          <%= @musician.name %>
        </h1>
        <div class="musician-address">
          <p>Based at <%= @musician.address %></p>
        </div>
        <p style="line-height: 1.6; overflow: hidden; text-overflow: ellipsis; max-height: 250px; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">
          <%= @musician.bio %>
        </p>

        <div class="musician-instruments">
          <% if @musician.instruments.any? %>
          <div class="d-flex">


              <% @musician.instruments.each do |instrument| %>
                <p class="instrument-tag"><%= instrument.name %></p>
              <% end %>
          </div>

          <% else %>
            <p>No instruments listed.</p>
          <% end %>

        </div>
                <% if current_user == @musician.user %>
          <div style="margin: auto; margin-top: 40px; color: black;">

            <%= link_to 'Create A New Composition', new_musician_composition_path(@musician), class: 'button' %>
          </div>
        <% end %>
    </div>
      </div>

      <div class="row ">
        <div class="col-8">
          <div class="compositions-grid">
          <h2 class="musician-header">Compositions</h2>
          <div class="video-grid">
    <% @musician.compositions.each do |composition| %>
      <%= link_to composition_path(composition), class: "video-card" do %>
        <div class="video-info">
          <div class="video-container">
            <iframe
              src="<%= composition.embed_video_url %>"
              title="YouTube video-player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen>
            </iframe>
          </div>
          <p class="video-title"><%= composition.title %></p>
          <p class="video-meta">By <%= composition.musician.name %> | <%= time_ago_in_words(composition.created_at) %> ago</p>
          <% if composition.tutorial %>
            <p class="small-text">🚫Not A Tutorial</p>
          <% else %>
            <p class="small-text">Tutorial🎓</p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

          </div>

        </div>
        <div class="col-4">
          <div class="forums-list">

          <h2 class="musician-header mb-4">Forums</h2>
        <% if @musician.forums %>
        <% @musician.forums.each do |forum| %>
          <div style="text-align: center; margin-bottom: 8px; width: 100%;">
            <%= link_to "#{forum.title} (#{forum.posts.length} posts)", forum_path(forum), class: "button", style: "padding: 8px 24px; background-color: #FF6F61; color: white; border-radius: 4px; text-decoration: none; font-size: 1rem; transition: background-color 0.3s; width:80%;" %>
          </div>
          <% end %>

        <% else %>
          <p style="color: black;">No forum(s) available for this musician.</p>
        <% end %>
          </div>
        </div>
      </div>


  </div>
</div>
