<h1>Edit Composition</h1>
<%= simple_form_for(@composition) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :file, as: :file %>
  <%= f.input :tutorial, as: :boolean, label: "Is this a tutorial?", required: false %>
  <%= f.submit %>
<% end %>
