<br>
<br>
<br>
<div class="content">
  <h1>Explore Compositions</h1>
  <div class="video-grid">
    <% @compositions.each do |composition| %>
      <%= link_to composition_path(composition), class: "video-card-link" do %>
        <div class="video-info">
          <%= video_tag(composition.video_url, controls: true, class: 'video-player') %>
          <p class="video-title"><%= composition.title %></p>
          <p class="video-meta">By <%= composition.musician.name %> | <%= time_ago_in_words(composition.created_at) %> ago</p>
       </div>
     <% end %>
  <% end %>
  </div>
<div class="container-fluid">
  <% @compositions.each do |composition| %>
    <h1><%= composition.title %></h1>
    <p><%= composition.description %></p>
    <% if composition.tutorial %>
      <p><strong>Tutorial🎓</strong></p>
    <% else %>
      <p>🚫Not A Tutorial</p>
    <% end %>
    <% end %>
</div>
