<div class="mx-5 border border-secondary-subtle mt-5">

  <div class="container">
    <h1><%= @composition.title %></h1>
    <p><%= @composition.description %></p>

  <div class="video" style="max-width: 80%;">
    <% if @composition.file.attached? %>
      <% case @composition.file.blob.content_type %>
      <% when /^image\// %>
        <%= cl_image_tag @composition.file.key, quality: 'auto', fetch_format: 'auto', style: "width: 100%; height: auto;" %>
      <% when /^video\// %>
        <%= cl_video_tag @composition.file.key, controls: true, quality: 'auto', fetch_format: 'auto', style: "width: 100%; height: auto;" %>
      <% when /^audio\// %>
        <%= cl_video_tag @composition.file.key, controls: true, quality: 'auto', fetch_format: 'auto', style: "width: 100%; height: auto;" %>
      <% else %>
        <p>Unsupported file type.</p>
      <% end %>
    <% else %>
      <p>No file uploaded.</p>
    <% end %>
    </div>
  </div>

  <div data-controller="insert-in-list" data-insert-in-list-target="items">
    <% @feedbacks.each do |feedback|  %>
      <%= feedback.content %>
    <% end %>
  </div>

<div id="feedbacks" class="feedbacks">
  <% @composition.feedbacks.each do |feedback| %>
    <%= render "feedbacks/feedback", feedback: feedback %>
  <% end %>
</div>




  <div>
    <%= render '/feedbacks/form' %>
  </div>

</div>
