<div class="container-fluid m-5" style="margin-top: 40px; padding: 20px; background-color: #f9f9f9; border-radius: 12px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); max-width: 900px; margin-left: auto; margin-right: auto;">
    <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="button">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
